<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="styles/styles.css">
  <title>Lamek Reads</title>
</head>
<body>

  <div class="sidenav">
    <a href="/">Home</a>
    <a href="/about">About</a>
    <a href="https://www.amazon.com/gp/product/0596006624">Services</a>
    <a href="/clients">Clients</a>
    <a href="/contact">Contact</a>
  </div>
  
  <!-- Page content -->
 
  <div class="main">
    
  <h1>Interesting books</h1>

<p>Hello I'm Lamek. I'm a big reader and because i love the joy of discovering a new book so here are my top 3 favourite reads.
  Reading a book offers numerous benefits that contribute to personal development, mental well-being, 
  and overall quality of life. Here are some reasons why reading a book is good. Reading books is a valuable habit that can enrich your life in many ways.
   It provides mental stimulation, emotional enrichment, and practical knowledge that can improve various aspects of your life.
    Whether you enjoy fiction or non-fiction, there's always something to gain from picking up a good book.
</p>


<li>
  <a href="/malcolm"> Malcolm X Autobiography</a>
</li>

<li>
  <a href="/atomicHabit"> Atomic Habit </a>
</li>

<li>
  <a href="/richDadPoorDad"> Rich Dad Poor Dad</a>
</li>
</div>
</body>
</html>
